.program-counter {
  width: 150px;
  padding: 10px;
  border: solid 1px black;
}

.instruction-memory {
  position: absolute;
  left: 230px;
  top: 0;
  width: 170px;
  padding: 10px;
  border: solid 1px black;
  .memory-cell {
    .index {
    }
    .value {
      border-collapse: collapse;
      position: absolute;
      padding-left: 10px;
      left: 35px;
      width: 100px;
    }
  }
}

.registers {
  margin-top: 50px;
  width: 150px;
  padding: 10px;
  border: solid 1px black;
  .register {
    display: inline-block;
    width: 120px;
    margin: 3px;
    padding: 5px;
    border: solid 1px blue;
  }
}
